<template>
  <div class="Forbidden">
    <Toolbar />
    <h1 id="forbidden">ACCESS FORBIDDEN</h1>
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";

export default {
  name: "Forbidden",
  components: {
    Toolbar
  }
}
</script>

<style scoped>
#forbidden{
  margin-top: 150px;
  color: black;
  font-weight: bold;
}
</style>