<template>
  <div class="Command">
    <Toolbar/>
    <h1 class="restau-title">Selectioner un restaurant</h1>
    <div v-if="this.id_restaurant === ''" class="list-restaurant">
      <div v-for="restaurant in this.restaurants" :key="restaurant._id">
        <v-card  class="mx-auto flex items-card ml-4" width="500px">
          <v-card-title><strong>{{restaurant.nom}}</strong></v-card-title>
          <v-card-text>{{restaurant.description}}</v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="chooseRestaurant(restaurant._id)">Choisir</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>
    <div v-else class="menus">
      <div v-for="menu in this.menus" :key="menu._id">
        <v-card  class="mx-auto flex items-card ml-4" width="500px">
          <v-card-title>{{menu.nom}}</v-card-title>
          <v-card-text>
            <div>Description : {{menu.description}}</div>
            <div v-if="menu.disponible" style="color: limegreen"><strong>DINPONIBLE</strong></div>
            <div v-if="!menu.disponible" style="color: red"><strong>NON DINPONIBLE</strong></div>
            <div>Prix Total : {{menu.prix}} €</div>
            <div v-for="article in menu.articles" :key="article._id">
              <div>----------------------------------</div>
              <div style="font-size: 18px; margin-bottom: 4px">Article</div>
              <div>Nom : {{article.nom}}</div>
              <div>Description : {{article.description}}</div>
              <div>Prix : {{article.prix}} €</div>
              <div v-if="article.disponible" style="color: limegreen"><strong>DINPONIBLE</strong></div>
              <div v-if="!article.disponible" style="color: red"><strong>NON DINPONIBLE</strong></div>
              <div>----------------------------------</div>
            </div>
            <Quantite ref="quantitee"/>
            <v-card-actions class="flex justify-end">
                <v-btn v-if="id_restaurant === $store.state.idCommandRestaurant || $store.state.idCommandRestaurant === null || $store.state.idCommandRestaurant === ''" color="primary" @click="addPanier(menu._id, menu.nom)">Ajouter au panier</v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Toolbar from "@/components/Toolbar.vue";
import Component from "vue-class-component";
import axios from "axios";
import store from "@/store";
import Quantite from "@/components/command/Quantite.vue";

@Component({
  name: "Command",
  components: {
    Toolbar,
    Quantite
  },
  beforeCreate() {
    axios.get('http://localhost:8080/command/restaurant', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      (this as any).restaurants = response.data.restaurants
    })
  }
})
export default class Command extends Vue {
  restaurants = []

  menus = []

  id_restaurant = ""

  chooseRestaurant(id: string): void {
    this.id_restaurant = id
    axios.get('http://localhost:8080/command/restaurant/'+id, {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      this.menus = response.data.menus
    })
  }

  addPanier(id: string, nom: string): void {

    let temporary = {
      "id": id,
      "nom": nom,
      "quantity": (this.$refs.quantitee as any)[0].quantity,
    }
    this.$store.state.listCommand.push(temporary)
    this.$store.commit('setListCommandAndRestaurant', this.$store.state.listCommand)
    this.$store.state.idCommandRestaurant = this.id_restaurant
    this.$store.commit('setIdRestaurantCommand', this.$store.state.idCommandRestaurant)
  }
}
</script>

<style scoped>
.list-restaurant{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.restau-title{
  margin-top: 100px;
}
.menus{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
</style>