<template>
  <div class="Panier">
    <Toolbar/>
    <v-container class="grey lighten-5" style="margin-top: 100px">
      <v-row no-gutters>
        <v-col>
          <div><strong>Nom du menu</strong></div>
        </v-col>
        <v-col>
          <div><strong>Quantité</strong></div>
        </v-col>
        <v-col>
          <div><strong>Modifier</strong></div>
        </v-col>
      </v-row>
        <template v-for="(value, index) in this.$store.state.listCommand">
          <v-row no-gutters :key="value.id">
            <v-col>
              <v-card class="pa-2" outlined tile>
                <div>{{value.nom}}</div>
              </v-card>
            </v-col>
            <v-col>
              <v-card class="pa-2" outlined tile>
                <div>{{value.quantity}}</div>
              </v-card>
            </v-col>
            <v-col>
                <v-btn @click="removedFromPanier(index)"><v-icon>mdi-minus</v-icon></v-btn>
            </v-col>
          </v-row>
        </template>
      <v-btn @click="createCommand" v-if="this.$store.state.listCommand.length > 0" class="mt-2" color="primary">Valider la commande</v-btn>
    </v-container>
    <h1 class="mt-4">Historique des commandes</h1>
    <div class="list-commandes">
      <div v-for="histo in this.histoCommand" :key="histo._id">
        <v-card  class="mx-auto flex items-card ml-4" width="500px">
          <v-card-title>Menus</v-card-title>
          <div>----------------------</div>
          <div v-for="menu in histo.id_m" :key="menu._id">
            <div><strong>Menu : </strong>{{menu.nom}} <v-icon>mdi-arrow-right-bold-circle</v-icon> <strong>Quantité : {{menu.quantity}}</strong></div>
          </div>
          <div>----------------------</div>
          <v-card-text><strong>Date : </strong>{{histo.date}}</v-card-text>
          <v-card-text v-if="histo.accepted_restaurant"><strong>Réponse restaurant : </strong>OK</v-card-text>
          <v-card-text v-if="!histo.accepted_restaurant"><strong>Réponse restaurant : </strong>En attente ou refusé</v-card-text>
          <v-card-text v-if="histo.accepted_livreur"><strong>Réponse Livreur : </strong>OK</v-card-text>
          <v-card-text v-if="!histo.accepted_livreur"><strong>Réponse Livreur : </strong>En attente ou refusé</v-card-text>
          <v-card-text v-if="histo.delivery"><strong>Commande reçu : </strong>Reçu</v-card-text>
          <v-card-text v-if="!histo.delivery"><strong>Commande reçu : </strong>En cours</v-card-text>
          <v-card-text v-if="histo.payed"><strong>Commande payé : </strong>OUI</v-card-text>
          <v-card-text v-if="!histo.payed"><strong>Commande payé : </strong>NON</v-card-text>
          <v-card-actions>
            <v-btn v-if="!histo.payed" @click="payed(histo._id)" color="primary" >Payer</v-btn>
            <v-btn v-if="!histo.payed" @click="deleted(histo._id)" color="error" >Supprimer</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Toolbar from "@/components/Toolbar.vue";
import Component from "vue-class-component";
import axios from "axios";
import store from "@/store";

@Component({
  name: "Panier",
  components: {
    Toolbar
  },
  beforeCreate() {
    axios.get('http://localhost:8080/command/commandes/', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {

      (this as any).histoCommand = response.data.commandes
    }).catch(err => {
      console.log(err.message);
    })
  }
})
export default class Panier extends Vue {
  histoCommand = []

  createCommand(): void {
    let commandes = this.$store.state.listCommand
    let id_restaurant = this.$store.state.idCommandRestaurant
    axios.post('http://localhost:8080/command/restaurant/'+id_restaurant+'/validate', {
      menus: commandes
    }, {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      this.$store.state.listCommand = []
      this.$store.commit('setListCommandAndRestaurant', this.$store.state.listCommand)
      this.$store.commit('setIdRestaurantCommand', "")
      this.update()
    })
  }

  removedFromPanier(index: number): void{
    this.$store.state.listCommand.splice(index, 1)
    this.$store.commit('setListCommandAndRestaurant', this.$store.state.listCommand)
    if(this.$store.state.listCommand.length === 0){
      this.$store.commit('setIdRestaurantCommand', "")
    }
    this.update()
  }

  payed(id: string): void {
    axios.get('http://localhost:8080/command/commande/'+id+'/pay',{
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(res => {
      this.update()
    })
  }

  deleted(id: string): void {
    axios.get('http://localhost:8080/command/commande/'+id+'/delete',{
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(res => {
      this.update()
    })
  }

  update(): void {
    axios.get('http://localhost:8080/command/commandes/', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      (this as any).histoCommand = response.data.commandes
    }).catch(err => {
      console.log(err.message);
    })
  }
}
</script>

<style scoped>
.list-commandes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
</style>