<template>
  <div class="Quantite">
    <v-btn @click="decreased"><v-icon>mdi-minus</v-icon></v-btn>
    <div class="quant" id="quant">{{this.quantity}}</div>
    <v-btn @click="increased"><v-icon>mdi-plus</v-icon></v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  name: "Quantite"
})
export default class Quantite extends Vue {
  quantity = 0

  increased(): void{
    this.quantity++
  }

  decreased(): void{
    if(this.quantity >= 1){
      this.quantity--
    }
  }
}
</script>

<style scoped>
.Quantite{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quant{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
</style>