<template>
  <v-navigation-drawer v-model="opened" app clipped temporary absolute id="navigation">
    <v-list nav dense>
      <v-list-item-group active-class="deep-purple--text text--accent-4">
        <v-list-item>
          <v-list-item-title @click="goHome">Accueil</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title @click="viewProfile">Profile utilisateur</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title @click="command">Commander</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="this.$store.state.user.role === 'restaurateur'">
          <v-list-item-title @click="viewRestaurant">Vos restaurants</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="this.$store.state.user.role === 'livreur'">
          <v-list-item-title @click="viewLivreur">Livreur</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Drawer extends Vue {
  opened = false

  goHome(): void {
    this.$router.push({name: 'Home'})
  }

  viewProfile(): void {
    this.$router.push({name: 'Profile'})
  }
  viewRestaurant(): void {
    this.$router.push({name: 'Restaurant'})
  }
  viewLivreur(): void {
    this.$router.push({name: 'Livreur'})
  }
  command(): void {
    this.$router.push({name: 'Command'})
  }
}
</script>

<style lang="scss">
#navigation {
  height: 100%;
}
</style>