<template>
  <div class="Toolbar">
    <v-app-bar absolute clipped-left app background color="#ff8242" >
      <v-app-bar-nav-icon class="black--text" @click.stop="triggerDrawer"/>
      <v-img src="@/assets/logo-full.png" contain height="50" position="left"/>
      <v-spacer/>
      <v-btn v-if="!user" @click="showLogin()">Connexion</v-btn>
      <template v-else>
        <v-btn @click="goPanier"><v-icon>mdi-cart</v-icon>Panier</v-btn>
        <div class="ma-4">Bienvenue {{ user.firstName + " " + user.lastName }}</div>
        <v-btn @click="logout()">Déconnexion</v-btn>
      </template>
    </v-app-bar>
    <Drawer ref="drawer"/>
  </div>
</template>

<script lang="ts">
import store from "../store"
import Vue from "vue";
import Component from "vue-class-component";
import {User} from "@/store/data/User";
import Drawer from "@/components/Drawer.vue";

@Component({
  components: {Drawer}
})
export default class Toolbar extends Vue {
  showLogin(): void {
    store.commit('setAuthEnabled');
  }

  logout(): void {
    store.commit('setUser', null);
    window.location.href = 'http://localhost:4000';
  }

  triggerDrawer(): void {
    const drawer = this.$refs.drawer as Drawer

    drawer.opened = !drawer.opened
  }

  get user(): User | null {
    return store.state.user
  }

  goPanier(): void{
    this.$router.push('Panier')
  }
}
</script>