<template>
  <v-card-text>
    <v-form ref="form">
      <div id="testForm"></div>
      <v-text-field
          name="name"
          v-model="menuName"
          :rules="rules"
          label="Nom du Menu"
          type="text"
          required
      ></v-text-field>
      <v-text-field
          name="description"
          v-model="menuDescription"
          label="Description du menu"
          type="text"
      ></v-text-field>
      <v-switch
          name="avalaible"
          color=green
          v-model="avalaible"
          label="Disponible"
      ></v-switch>
      <v-text-field
          name="picture"
          v-model="menuPicture"
          label="Image de votre menu"
      ></v-text-field>
      <v-btn color="primary" @click="addArticle"> + </v-btn>
      <div class="article" v-for="(article, index) in this.articles"  :key="index">
        <div>Article: {{index+1}} </div>
        <v-btn color="primary" @click="removeArticle(index)"> - </v-btn>
        <v-text-field
            name="name"
            v-model="article.nom"
            :rules="rules"
            label="Nom du Menu"
            type="text"
            required
            ></v-text-field>
        <v-text-field
            name="description"
            v-model="article.description"
            label="Description du menu"
            type="text"
        ></v-text-field>
        <v-text-field
            name="price"
            v-model="article.prix"
            :rules="rules"
            label="Prix : "
            type="number"
            required
        ></v-text-field>
        <v-text-field
            name="picture"
            v-model="article.image"
            label="Image de votre menu"
            truncate-length="24"
        >article.image</v-text-field>
      </div>
    </v-form>
  </v-card-text>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";


@Component({
})
export default class Menu extends Vue {
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  articles= [{ nom:"", prix:0, description:"", disponible:true, image:""}]

  menuId = ""
  menuName = ""
  menuDescription = ""
  avalaible = false
  menuPicture = ""




  addArticle(){
      this.articles.push({ nom:"", prix:0, description:"", disponible:true, image:""})
  }

  removeArticle(index : number){
    this.articles.splice(index, 1)

  }

}
</script>

<style scoped>

</style>