<template>
  <div class="restaurant_command">
    <Toolbar/>

    <div class="actionbar">
      <v-card class="mx-auto flex items-card" max-width="500px">
        <v-card-actions>
          <v-btn depressed color="primary" @click="statistic">Statistique de votre restaurant</v-btn>
        </v-card-actions>
      </v-card>
    </div>

    <v-dialog fluid persistent fill-height align-center v-model="isvisible" width="45%">
      <v-card>
        <v-toolbar dark color="#ff8242">
          <v-toolbar-title>Vos statistiques: </v-toolbar-title>
        </v-toolbar>
        <div v-for="(stat,index) in this.statistics" :key="index">
          <div v-if="stat.menu === null">Nom du menu : -- </div>
          <div v-if="stat.menu !== null">Nom du menu : {{ stat.menu.nom }} </div>
          <div v-if="stat.menu === null">Prix: --€</div>
          <div v-if="stat.menu !== null">Prix: {{ stat.menu.prix}}€</div>
          <div>Nombre de Commande: {{stat.quantity_buy}}</div>
          <div>-----------------------------------</div>
        </div>
        <v-card-actions>
          <v-btn color="primary" @click="back">Retour</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>




    <div class="command_board">
      <div class="commandCard" v-for="command in this.commands" :key="command._id">
        <v-card class="mx-auto flex items-card" width="350px">
          <v-card-text>
            <div v-for="menu in command.id_m" :key="menu._id">
              <div>Menu : {{menu.nom}}</div>
              <div>Quantité : {{menu.quantity}}</div>
              <div>--------------------------</div>
            </div>
            <div v-if="command.accepted_restaurant === false">
              <v-btn color="primary" @click="acceptCommand(command._id)">Accepter la commande</v-btn>
            </div>
            <div v-else>
              <div>Commande accepté : OUI </div>
              <div>--------------------------</div>
              <div v-if="command.payed === false "> Commande payé : NON</div>
              <div v-if="command.payed === true "> Commande payé : OUI</div>
              <div v-if="command.accepted_livreur === false"> Commande accepté par livreur : NON</div>
              <div v-if="command.accepted_livreur === true"> Commande accepté par livreur : OUI</div>
              <div>DATE : {{command.date}}</div>
              <div>--------------------------</div>
              <div v-if="command.delivery === false">Commande livrée : NON</div>
              <div v-if="command.delivery === true">Commande livrée : OUI</div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import Component from "vue-class-component";
import Toolbar from "@/components/Toolbar.vue";
import axios from "axios";
import store from "@/store";


@Component({
  name: "RestaurantCommand",
  data() {
    return {error: '',}
  },
  components: {
    Toolbar
  },
  beforeCreate() {
    axios.get('http://localhost:8080/restaurant/'+this.$store.state.idRestaurant+'/command',
        {
          headers: {
            token: store.state.user?.jwt,
            refreshToken: store.state.user?.refreshToken
          },
    }).then(response => {
  if (response.data.commands !== "") {
    (this as any).commands = response.data.commands
  }
}).catch(async (err) => {
  (this as any).error = err.message
})
  }

})
export default class RestaurantCommand extends Vue{

  commands= []
  statistics=[]
  error = ""
  isvisible= false

  statistic() : void {
    this.isvisible= true
    axios.get( 'http://localhost:8080/restaurant/'+this.$store.state.idRestaurant+'/statistics', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      }
    }).then(response => {
      if (response.data.stats) {
        this.statistics=response.data.statistics
      }
    }).catch(async (err) => {
      this.error = err.message
    })
  }

  back() : void{
    this.isvisible = false
  }

  update() : void {
    axios.get('http://localhost:8080/restaurant/'+this.$store.state.idRestaurant+'/command',
        {
          headers: {
            token: store.state.user?.jwt,
            refreshToken: store.state.user?.refreshToken
          },
        }).then(response => {
      if (response.data.commands !== "") {
        this.commands = response.data.commands
      }
    }).catch(async (err) => {
      this.error = err.message
    })
  }

  acceptCommand(id : string) : void{
    axios.post('http://localhost:8080/restaurant/'+this.$store.state.idRestaurant+'/command/'+id+'/validate',{},{
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      if (response.data.validate === true) {
        this.update()
      }
    }).catch(async (err) => {
      this.error = err.message
      this.update()
    })
  }
}
</script>

<style scoped>

.actionbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.command_board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.commandCard{
  margin-right: 15px;
}
.items-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}
</style>