<template>
  <div class="restaurant_card">
    <Toolbar/>

    <div class="rest-infos">
      <v-card class="mx-auto flex items-card" max-width="700px">
        <v-card-text>
          <div>Nom : {{ this.rest[0].nom }}</div>
          <div>Description : {{ this.rest[0].description }}</div>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="createMenu">Créée votre menu</v-btn>
          <v-btn color="primary" @click="command">Voir les commandes</v-btn>
        </v-card-actions>
      </v-card>
    </div>

    <div class="menu_board">
      <div class="menuCard" v-for="menu in this.menus" :key="menu._id">
        <v-card class="mx-auto flex items-card" width="auto">
          <v-card-text>
            <div>{{ menu.image }}</div>
            <div>Nom : {{ menu.nom }}</div>
            <div>Description : {{ menu.description }}</div>
            <div>Prix : {{ menu.prix }} €</div>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="editMenu(menu)">Editer le menu</v-btn>
            <v-btn depressed color="error" @click="removeMenu(menu._id)">Supprimer le menu</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>


    <v-dialog fluid fill-height align-center v-model="isVisible" width="45%">
      <v-card>
        <v-toolbar dark color="#ff8242">
          <v-toolbar-title>{{ this.title }}</v-toolbar-title>
        </v-toolbar>
        <Menu id="test" ref="menuform"/>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="submit()">Sauvegarder</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </div>
</template>

<script lang='ts'>
import Component from "vue-class-component";
import Toolbar from "@/components/Toolbar.vue"
import Vue from "vue";
import store from "@/store";
import axios from "axios";
import Menu from "@/components/restaurant/Menu.vue";
import router from "@/router";


@Component({
  name: "RestaurantCard",

  data() {
    return {error: '',}
  },
  components: {
    Menu,
    Toolbar
  },

  beforeCreate() {
    axios.get('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant, {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },

    }).then(response => {
      if (response.data.restaurant !== false) {
        (this as any).rest = response.data.restaurant
      }
    }).catch(async (err) => {
      (this as any).error = err.message
    })

    axios.get('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant + '/menu', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      if (response.data.menus !== false) {
        (this as any).menus = response.data.menus
      }
    }).catch(async (err) => {
      (this as any).error = err.message
    })
  }
})


export default class RestaurantCard extends Vue {
  rest = []
  menus = []
  error = ""
  isVisible = false
  newMenu = false
  menuId = ""
  title = ""
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  update(): void {
    axios.get('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant, {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },

    }).then(response => {
      if (response.data.restaurant !== false) {
        this.rest = response.data.restaurant

      }
    }).catch(async (err) => {
      this.error = err.message
    })

    axios.get('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant + '/menu', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      if (response.data.menus !== false) {
        this.menus = response.data.menus
      }
    }).catch(async (err) => {
      this.error = err.message
    })
  }


  createMenu(): void {
    this.isVisible = true
    this.newMenu = true
    this.title = "Création d'un menu"
    this.$nextTick(function () {
      this.menu().menuName = ""
      this.menu().menuDescription = ""
      this.menu().menuPicture = ""
      this.menu().avalaible = false
      this.menu().articles = [{nom: "", prix: 0, description: "", disponible: true, image: ""}]

    })

  }

  editMenu(menu: any): void {
    this.newMenu = false
    this.isVisible = true
    this.title = "Edition d'un menu"
    this.$nextTick(function () {

      this.menuId = menu._id
      this.menu().menuName = menu.nom
      this.menu().menuDescription = menu.description
      this.menu().menuPicture = menu.image
      this.menu().avalaible = menu.disponible
      this.menu().articles = menu.articles

    })
  }

  submit(): void {
    if (this.newMenu) {
      axios.post('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant + '/menu', {
        nom: this.menu().menuName,
        description: this.menu().menuDescription,
        disponible: this.menu().avalaible,
        image: this.menu().menuPicture,
        articles: this.menu().articles
      }, {
        headers: {
          token: store.state.user?.jwt,
          refreshtoken: store.state.user?.refreshToken
        }


      }).then(response => {
        if (response.data.menus !== "") {
          this.newMenu = false
          this.isVisible = false
          this.update()
        }
      }).catch(async (err) => {
        this.error = err.message
        this.isVisible = false
      })
    } else {
      axios.post('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant + '/menu/edit/' + this.menuId, {
        nom: this.menu().menuName,
        description: this.menu().menuDescription,
        disponible: this.menu().avalaible,
        image: this.menu().menuPicture,
        articles: this.menu().articles,
      }, {
        headers: {
          token: store.state.user?.jwt,
          refreshtoken: store.state.user?.refreshToken
        }
      }).then(response => {
        if (response.data.updated === true) {
          this.update()
          this.isVisible = false

        }
      }).catch(async (err) => {
        this.error = err.message
        this.isVisible = false
      })
    }
  }

  removeMenu(id: string): void {
    axios.get('http://localhost:8080/restaurant/' + this.$store.state.idRestaurant + '/menu/delete/' + id, {
      headers: {
        token: store.state.user?.jwt,
        refreshtoken: store.state.user?.refreshToken
      }
    }).then(response => {
      if (response.data.delete === true) {
        this.update()
      }
    }).catch(async (err) => {
      this.error = err.message
    })

  }


  command(): void {
    router.push({name: 'RestaurantCommand', params: {restId: this.$store.state.idRestaurant}})
  }


  menu(): Menu {
    return this.$refs.menuform as Menu
  }
}
</script>

<style>

.restaurant_card {
  height: 100%;
}

.rest-infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu_board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menuCard {
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;

}

.items-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
</style>