<template>
  <div class="restaurant">
    <Toolbar/>

    <div class="actionbar">
      <v-card class="mx-auto flex items-card" max-width="500px">
        <v-card-actions>
          <v-btn depressed color="primary" @click="createRestaurant"> Ajouter un restaurant</v-btn>
        </v-card-actions>
      </v-card>
    </div>

    <div class="restaurant_list">
      <div class="restCard" v-for="restaurant in this.$store.state.restaurants" :key="restaurant.name">
        <v-card class="mx-auto flex items-card" width="auto">
          <v-card-text>
            <div>Nom : {{ restaurant.name }}</div>
            <div>Description : {{ restaurant.description }}</div>
          </v-card-text>
          <v-card-actions class="btn">
            <v-btn color="primary" @click="editRestaurant(restaurant)">Editer le restaurant</v-btn>
            <v-btn color="primary" @click="addStore(restaurant.id)">Voir le restaurant</v-btn>
            <v-btn depressed color="error" @click="remove(restaurant.id)">Supprimer le restaurant</v-btn>
          </v-card-actions>
        </v-card>

      </div>
    </div>

    <v-dialog fluid persistent fill-height align-center v-model="createRest" width="45%">
      <v-card>
        <v-toolbar dark color="#ff8242">
          <v-toolbar-title>Créée votre restaurant</v-toolbar-title>
        </v-toolbar>
        <v-text-field
            name="name"
            v-model="restName"
            :rules="rules"
            label="Nom du restaurant"
            type="text"
            required
        ></v-text-field>
        <v-text-field
            name="description"
            v-model="restDescription"
            label="Description"
            type="text"
            hint="Ce que vous faite, proposé, etc..."
        ></v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="back">Retour</v-btn>
          <v-btn color="primary" @click="submit">Sauvegarder</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog fluid fill-height align-center v-model="iseditable" width="45%">
      <v-card>
        <v-toolbar dark color="#ff8242">
          <v-toolbar-title>Créée votre restaurant</v-toolbar-title>
        </v-toolbar>
        <v-text-field
            name="restName"
            v-model="modiffName"
            :rules="rules"
            label="Nom"
            type="text"
            required
        ></v-text-field>
        <v-text-field
            name="restDescription"
            v-model="modiffDescription"
            label="Description"
            type="text"
        ></v-text-field>
        <v-card-actions>
          <v-btn color="primary" @click="save()">Sauvegarder</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import Component from "vue-class-component";
import store from "@/store";
import axios from "axios";
import Toolbar from "@/components/Toolbar.vue";
import Res from "@/store/data/Restaurant";
import router from "@/router";


@Component({
  data() {
    return {error: ''}
  },
  components: {
    Toolbar
  },
  beforeCreate() {
    axios.get('http://localhost:8080/restaurant', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },

    }).then(response => {
      if (response.data.restaurant !== false) {
        let restaurants = [];
        for (let rest of response.data.restaurant) {
          restaurants.push(new Res(rest._id, rest.nom, rest.description))
        }
        store.commit('setRestaurants', restaurants);

      }
    }).catch(async (err) => {
      (this as any).error = err.message
      if(err.response.status === 403 || err.response.status === 401){
        await this.$router.push({name: 'Security'})
      }
    })
  }

})

export default class Restaurant extends Vue {
  error = ""
  createRest = false
  iseditable = false
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  restName = ""
  restDescription = ""

  modiffName = ""
  modiffDescription = ""

  createRestaurant(): void {
    this.createRest = true

  }

  submit(): void {
    axios.post('http://localhost:8080/restaurant', {
      nom: this.restName,
      description: this.restDescription,
    }, {
      headers: {
        token: store.state.user?.jwt,
        refreshtoken: store.state.user?.refreshToken
      }
    }).then(response => {
      if (response.data.restaurant !== "") {
        this.restName = ""
        this.restDescription = ""
        this.display()
        this.createRest = false;
      }
    }).catch(async (err) => {
      this.error = err.message
      this.createRest = false;
    })
  }

  back(): void {
    this.createRest = false

  }

  display(): void {
    axios.get('http://localhost:8080/restaurant', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },

    }).then(response => {
      if (response.data.restaurant !== false) {
        let restaurants = [];
        for (let rest of response.data.restaurant) {
          restaurants.push(new Res(rest._id, rest.nom, rest.description))
        }
        store.commit('setRestaurants', restaurants);

      }
    }).catch(async (err) => {
      (this as any).error = err.message
    })
  }

  addStore(id: string): void {
    store.commit('setIdRestaurant', id);
    router.push({name: 'RestaurantCard', params: {restId: id}})
  }

  remove(id: string): void {
    axios.get('http://localhost:8080/restaurant/delete/' + id, {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      }
    }).then(response => {
      if (response.data.delete === true) {
        this.display()
      }
    }).catch(async (err) => {
      this.error = err.message
    })
  }

  editRestaurant(restaurant: any): void {
    this.iseditable = true
    this.modiffName = restaurant.name
    this.modiffDescription = restaurant.description
  }

  save(): void {
    axios.post('http://localhost:8080/restaurant/edit/' + this.$store.state.idRestaurant, {
      nom: this.modiffName,
      description: this.modiffDescription
    }, {
      headers: {
        token: store.state.user?.jwt,
        refreshtoken: store.state.user?.refreshToken
      }
    }).then(response => {
      if (response.data.updated === true) {
        this.display()
        this.iseditable = false

      }
    }).catch(async (err) => {
      this.error = err.message
      this.iseditable = false
    })
  }
}

</script>

<!--suppress CssUnusedSymbol -->
<style>
.restaurant {
  height: 100%;
}

.actionbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.restaurant_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restCard {
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;

}

.items-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.btn {
  flex-direction: column;
  justify-content: center;
  align-item: center;

}
</style>