<template>
  <div class="Livreur">
    <Toolbar />
      <div class="list_commands">
        <div v-for="command in this.commandes" :key="command._id" class="mr-4">
          <v-card  class="mx-auto flex items-card" width="500px">
            <v-card-text>
              <div v-if="command.payed">Payer par le client : OUI</div>
              <div v-if="!command.payed">Payer par le client : NON</div>
              <div v-if="command.accepted_livreur">Livreur Accepté : OUI</div>
              <div v-if="!command.accepted_livreur">Livreur Accepté : NON</div>
              <div class="list-menu-commande">
                <div><strong>Menu : </strong></div>
                <div>------------------</div>
                <div v-for="menu in command.id_m" :key="menu._id">
                  <div>Nom: {{menu.nom}}, Quantité: {{menu.quantity}}</div>
                </div>
                <div>------------------</div>
              </div>
              <div v-if="command.accepted_restaurant">Restaurant Accepté : OUI</div>
              <div v-if="!command.accepted_restaurant">Restaurant Accepté : NON</div>
              <div v-if="command.delivery">Livré : OUI</div>
              <div v-if="!command.delivery">Livré : NON</div>
              <div>Date : {{ command.date }}</div>
              <div class="color-red" v-if="!command.accepted_restaurant">En attente de la réponse du Restaurant</div>
            </v-card-text>
            <v-card-actions class="flex flex-column justify-center align-center">
              <v-btn v-if="!command.accepted_livreur && command.accepted_restaurant" color="primary" @click="setAccpetedLivreur(command._id)">Accepter la commande</v-btn>
              <v-btn v-if="!command.delivery && command.accepted_livreur && command.accepted_restaurant" depressed color="error" @click="setReceivedUser(command._id)">Commande receptioné par le client</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Toolbar from "@/components/Toolbar.vue";
import Component from "vue-class-component";
import axios from "axios";
import store from "@/store";


@Component({
  name: "Livreur",
  components: {
    Toolbar
  },
  beforeCreate() {
    axios.get('http://localhost:8080/livreur/command', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      (this as any).commandes = response.data.commandes
    }).catch(err => {
      if(err.response.status === 403){
        this.$router.push({name: 'Security'})
      }
    })
  }
})
export default class Livreur extends Vue {
  commandes = []

  setAccpetedLivreur(id: string): void {
    axios.get('http://localhost:8080/livreur/command/' + id + '/accepted', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      if(response.data.commande){
        axios.get('http://localhost:8080/livreur/command', {
          headers: {
            token: store.state.user?.jwt,
            refreshToken: store.state.user?.refreshToken
          },
        }).then(response => {
          (this as any).commandes = response.data.commandes
        })
      }
    })
  }

  setReceivedUser(id: string): void {
    axios.get('http://localhost:8080/livreur/command/' + id + '/delivery', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      },
    }).then(response => {
      if(response.data.commande){
        axios.get('http://localhost:8080/livreur/command', {
          headers: {
            token: store.state.user?.jwt,
            refreshToken: store.state.user?.refreshToken
          },
        }).then(response => {
          (this as any).commandes = response.data.commandes
        })
      }
    })
  }
}
</script>

<style scoped>
.list_commands{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.color-red {
  color: red;
}
</style>