<template>
  <v-dialog fluid fill-height align-center v-model="authEnabled" width="45%">
    <v-card>
      <v-toolbar dark color="#ff8242">
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>
      <Register ref="registerForm" v-if="registering"/>
      <Login ref="loginForm" v-else/>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="submit">{{ title }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import store from '../../store'
import Vue from "vue";
import axios from "axios";
import {User} from "@/store/data/User";
import Login from "@/components/auth/Login.vue";
import {LoginPopupState} from "@/store/data/LoginPopupState";
import Register from "@/components/auth/Register.vue";
import Component from "vue-class-component";

@Component({
  components: {
    Register,
    Login
  },
  // mixin: [{}]
})
export default class AuthModal extends Vue {
  get authEnabled(): boolean {
    return store.state.auth_enabled !== LoginPopupState.CLOSED
  }

  set authEnabled(value: boolean) {
    store.commit('setAuthEnabled')
  }

  get registering(): boolean {
    return store.state.auth_enabled === LoginPopupState.REGISTER
  }

  get title(): string {
    return this.registering ? 'Créer un compte' : 'Connexion'
  }

  showLogin(): void {
    store.commit('login')
  }

  submit(): void {
    if (this.registering) {
      if (this.registerForm().validate()) {
        const registerForm = this.registerForm()

        axios({
          method: 'post',
          url: 'http://localhost:8080/auth/signup',
          data: {
            firstname: registerForm.firstName,
            lastname: registerForm.lastName,
            email: registerForm.email,
            mdp: registerForm.password,
            role: registerForm.roleId
          }
        }).then((response) => {
          if (response.data.create.successCreate) {
            this.showLogin()
          } else {
            this.registerForm().error = response.data.create.message
          }
        }).catch((error) => {
          this.registerForm().error = error
        })
      }
    } else {
      if (this.loginForm().validate()) {
        axios({
          method: 'post',
          url: 'http://localhost:8080/auth/login',
          data: {
            email: this.loginForm().userName,
            mdp: this.loginForm().password
          }
        }).then((response) => {
          const responseData = response.data

          if (responseData.connected) {
            store.commit("setUser", new User(
                responseData.token,
                responseData.refreshToken,
                responseData.user.firstName,
                responseData.user.lastName,
                responseData.user.email,
                responseData.user.referal_code,
                responseData.user.referal_code_use,
                responseData.user.role))
          } else {
            this.loginForm().error = "Mot de passe ou nom d'utilisateur incorrect"
          }
        }).catch(() => {
          this.loginForm().error = "Mot de passe ou nom d'utilisateur incorrect"
        })
      }
    }
  }

  loginForm(): Login {
    return this.$refs.loginForm as Login
  }

  registerForm(): Register {
    return this.$refs.registerForm as Register
  }
}
</script>