<template>
  <v-card-text>
    <v-form ref="form">
      <v-text-field
          name="login"
          v-model="userName"
          :rules="rules"
          label="Addresse email"
          type="email"
          required
      ></v-text-field>
      <v-text-field
          id="password"
          :rules="rules"
          v-model="password"
          name="password"
          label="Mot de passe"
          type="password"
          required
      ></v-text-field>
    </v-form>
    <v-card-text v-if="!!error">
      <div id="errorLogin">{{ error }}</div>
    </v-card-text>
    <v-card-text>
      <v-spacer/>
      <div>Vous n'êtes pas encore inscit à CESEAT ? Cliquez <a href="#" @click="register">ici</a>.</div>
    </v-card-text>
  </v-card-text>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import store from '../../store'
import {VForm} from "@/components/VForm";

@Component
export default class Login extends Vue {
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  passwordRules = ""

  userName = ""

  password = ""

  error = ""

  validate(): boolean {
    return this.form().validate()
  }

  register(): void {
    store.commit("register")
  }

  form(): VForm {
    return this.$refs.form as VForm
  }
}
</script>

<style>
#errorLogin {
  text-align: left;
  color: red;
}
</style>