<template>
  <v-card-text>
    <v-form ref="form">
      <v-text-field
          name="firstName"
          v-model="firstName"
          :rules="rules"
          label="Prénom"
          type="text"
          required
      ></v-text-field>
      <v-text-field
          name="lastName"
          v-model="lastName"
          :rules="rules"
          label="Nom"
          type="text"
          required
      ></v-text-field>
      <v-text-field
          name="email"
          v-model="email"
          :rules="rules"
          label="Addresse email"
          type="email"
          required
      ></v-text-field>
      <v-text-field
          id="password"
          :rules="passwordRule"
          v-model="password"
          name="password"
          label="Mot de passe"
          type="password"
          required
      ></v-text-field>
      <v-text-field
          id="confirmPasssword"
          :rules="confirmPasswordRule"
          v-model="confirmPasssword"
          name="confirmPasssword"
          label="Confirmation du mot de passe"
          type="password"
          required
      ></v-text-field>
      <v-select
          :items="roles"
          solo
          label="Sélectionnez un rôle"
          required
          :rules="rules"
          v-model="role"
      ></v-select>
    </v-form>
    <v-card-text v-if="!!error">
      <div id="errorLogin">{{ error }}</div>
    </v-card-text>
    <v-card-text>
      <v-spacer/>
      <div>Vous avez déjà un compte CESEAT ? Cliquez <a href="#" @click="login">ici</a> pour vous connecter.</div>
    </v-card-text>
  </v-card-text>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import store from "@/store";
import {VForm} from "@/components/VForm";

@Component
export default class Register extends Vue {
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  passwordRule = this.rules.concat([
    (v: string): boolean | string => v.length > 10 || 'Un mot de passe doit être composé de plus de 10 caractères.',
    (v: string): boolean | string => (/\d/.test(v) && /[a-zA-Z]/i.test(v)) || 'Un mot de passe doit contenir au moins un chiffre et au moins une lettre.'
  ])

  confirmPasswordRule = this.rules.concat([
    (v: string): boolean | string => this.checkConfirmPassword(v) || 'Les deux mots de passe ne correspondent pas.'
  ])

  private checkConfirmPassword(v: string) {
    return v === this.password
  }

  firstName = ""

  lastName = ""

  email = ""

  password = ""

  confirmPasssword = ""

  readonly roles = ["Client", "Livreur", "Restaurateur", "Développeur tier"]

  role = ""

  error = ""

  validate(): boolean {
    return this.form().validate()
  }

  login(): void {
    store.commit("login")
  }

  form(): VForm {
    return this.$refs.form as VForm
  }

  get roleId(): number {
    return this.roles.findIndex(role => role === this.role) + 2
  }
}
</script>

<style>
#errorLogin {
  text-align: left;
  color: red;
}
</style>