<template>
  <div class="profile">
    <Toolbar/>
    <v-card class="mx-auto my-12 flex items-card" max-width="500px">
      <v-card-title>Mon compte</v-card-title>
      <v-card-text v-if="!iseditable">
        <div> <strong> Prenom : </strong>{{ firstName }}</div>
        <div> <strong>Nom : </strong>{{ lastName }}</div>
        <div> <strong>Email : </strong>{{ email }}</div>
        <div> <strong>Code Parrainage : </strong>{{referalCode}}</div>
        <div> <strong>Code du Parrain : </strong>{{referalCodeUse}}</div>
        <div> <strong>Role : </strong>{{role}}</div>
      </v-card-text>
      <v-card-text v-else>
        <v-form ref="form">
          <v-text-field
              name="firstName"
              v-model="firstName"
              :rules="rules"
              label="Prénom"
              type="text"
              required
          ></v-text-field>
          <v-text-field
              name="lastName"
              v-model="lastName"
              :rules="rules"
              label="Nom"
              type="text"
              required
          ></v-text-field>
          <v-text-field
              name="email"
              v-model="email"
              :rules="rules"
              label="Addresse email"
              type="email"
              required
          ></v-text-field>
          <v-text-field
              name="referalCodeUse"
              v-model="referalCodeUse"
              label="Code du parrain"
              type="text"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn  v-if="!iseditable" depressed color="error" @click="deleteAccount">
          Supprimer mon compte
        </v-btn>
        <v-btn  v-if="!iseditable" depressed color="primary" @click="modifyAccount">
          Modifier mon compte
        </v-btn>
        <v-btn  v-else depressed color="primary" @click="submit">
          Sauvegarder
        </v-btn>
        <div color="red">{{ error }}</div>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import Toolbar from "@/components/Toolbar.vue"
import Vue from "vue";
import store from "@/store";
import axios from "axios";
import {User} from "@/store/data/User";


@Component({
  name: "Profile",
  components: {
    Toolbar
  }
})
export default class Profile extends Vue {
  error = ""
  iseditable= false
  rules = [
    (v: string): boolean | string => !!v || 'Ce champs est requis.'
  ]

  firstName= this.user?.firstName ?? ""
  lastName= this.user?.lastName ?? ""
  email = this.user?.email ?? ""
  referalCode= this.user?.referalCode ?? ""
  referalCodeUse = this.user?.referalCodeUse ?? undefined
  role= this.user?.role ?? ""


  deleteAccount(): void {
    axios.get('http://localhost:8080/auth/delete', {
      headers: {
        token: store.state.user?.jwt,
        refreshToken: store.state.user?.refreshToken
      }
    }).then(response => {

      if (response.data.del === 'true') {
        store.commit('setUser', null);
        window.location.href = 'http://localhost:4000';
      }
    }).catch(async (err) => {
      this.error = err.message
    })
  }

  modifyAccount(): void {

    this.iseditable = true;

  }


  submit(): void {
    this.error= "";

    axios.post('http://localhost:8080/auth/modify', {
      data: {
        firstname: this.firstName,
        lastname: this.lastName,
        email: this.email,
        role: this.role,
        referal_code_use: this.referalCodeUse
      }
    },{
      headers: {
        token: store.state.user?.jwt,
        refreshtoken: store.state.user?.refreshToken
      }}).then(response => {
      if (response.data.modify === 'true') {
        store.commit('setUser', new User(
            store.state.user?.jwt as string,
            store.state.user?.refreshToken as string,
            response.data.user.firstname,
            response.data.user.lastname,
            response.data.user.email,
            response.data.user.referal_code,
            response.data.user.referal_code_use,
            store.state.user?.role as string));
        this.iseditable = false;
      }
      if (response.data.errorrefcode){
        this.error = response.data.errorrefcode

      }
    }).catch(async (err) => {
      this.error = err.message
      this.iseditable = false;
    })
  }

  get user(): User | null {
    return store.state.user
  }
}
</script>

<style>
.profile {
  height: 100%;
}

.items-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>