<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script lang="js">
import Vue from 'vue'
import Toolbar from "@/components/Toolbar.vue";
import Drawer from "@/components/Drawer.vue";
import Test from '@/components/Test.vue'

const Components = {
  Toolbar,
  Drawer,
  Test
}

Object.keys(Components).forEach(name=>{
  Vue.component(name, Components[name])
})

export default Components

</script>

<style lang="scss">
#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
