<template>
  <div class="home">
    <Toolbar/>
    <AuthModal/>
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar";
import AuthModal from "@/components/auth/AuthModal";

export default {
  name: 'Home',
  components: {
    AuthModal,
    Toolbar
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style lang="scss">
body, #app {
  overflow: hidden;
  background-size: cover;
  background: #fa9269 url("../assets/images/home.png") no-repeat fixed center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
</style>